# Dependencies
node_modules

# Assets (keep demo assets)
assets/
!assets/backgrounds/1.svg
!assets/backgrounds/2.svg
!assets/backgrounds/3.svg
!assets/backgrounds/4.svg
!assets/emblems/cup.svg
!assets/emblems/pyramid.svg
!assets/emblems/star.svg
!assets/emblems/turtle.svg
